/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  line-height: 1.4;
  font-weight: 400 !important;
  font-family: "Roboto Mono", $base-font-family;
}

.blog-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}



.post-link {
  display: block;
  background-color: #eee;
  color: white !important;
  border-radius: 0.25rem;
  padding: 1rem;
  font-weight: 800;
  margin-bottom: 1rem;
  transition: transform ease-in-out 0.1s;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  &:hover {
    transform: scale(1.05);
  }
}



/**
 * Posts
 */
 .post {
   margin: -4rem;
   padding: 4rem 6rem;
   background: white;
   margin-top: -7rem;
   border-radius: 0.4rem;
   line-height: 1.8;
   font-size: 1.3rem;
 }
.post-header {
  margin-bottom: $spacing-unit;
  padding-top: 6rem;
  padding-bottom: 4rem;
  color: white;
  background-position: center !important;
  background-size: cover !important;
}

.post-title {
  @include relative-font-size(3);
  line-height: 1.3;
  text-align: center;
  font-weight: 300;
  padding-top: 2rem;
  padding-bottom: 4rem;
  //box-shadow: inset 0 -1rem 0 #b4e7f8;
  color: white;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
