---
layout: default
---

<header class="post-header" style="background:  {{page.bg}};">
  <div class="wrapper">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- if page.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </div>
</header>

<div class="wrapper">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</div>
